#pages-controls{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

#pages-controls img{
  object-fit: cover;
  height: 25px;
  width: 25px;
  margin-top: 4px;
}

#pages-controls button{
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#pages-controls button:hover{
  background-color: #8fbeff1b;
}

#pages-controls .page-btns{
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

#pages-controls .page-btns:hover{
  background-color: #8fd2ff21;
}

#pages-controls .active{
  background-color: #8fd2ff65 !important;
}